<h1>Total Results :: <%=allData.totalResults%></h1>
<%allData.Search.forEach((data)=>{%>
    <h5>Title: <%=data.Title%></h5>
    <h5>Type: <%=data.Type%></h5>
    <!-- <h5>Poster: <a href="<%=data.Poster%>" target="_blank">Click here</a></h5> -->
    <img src="<%=data.Poster%>" alt="<%=data.Title%>">
    <h5>Released: <%=data.Year%></h5>
    <h5>IMDB Id: <%=data.imdbID%></h5>
<%})%>
